[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[branch]
  autosetupmerge = true
[color]
  ui = true
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  editor = mvim -f
[alias]
  s = status
  r = reset
  d = diff
  a = add
  ci = commit -a -m
  cma = commit -a -m
  cm = commit -m
  ai = add --interactive
  caa = commit -a --ammend -C HEAD
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  undo = reset --hard HEAD@{1}
[user]
  name = Mike Doel
  email = mike@mikedoel.com
[difftool "Kaleidoscope"]
[difftool]
[diff]
[difftool "Kaleidoscope"]
[diff]
[difftool "Kaleidoscope"]
[difftool]
[diff]
[difftool "Kaleidoscope"]
[difftool]
